.community-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    padding: 10px;
    height: 100%;
    
}

.community-header.list {
    
    gap: 2px;
}

.community-title {
    font-size: 20px;
    font-weight: 600;
    height: 100%;
}

.community-description {
    font-size: 14px;
    color: var(--gray-500);
    height: 100%;
}

.community-stats {
    height: 100%;
    display: flex;
    gap: 5px;
}

@media(max-width:1000px){
    .community-title{
        font-size: 18px;
    }
    .community-description{
        font-size: 12px;
    }
}
@media(max-width:920px){
    .community-stats-icon{
        width: 12px;
    }
    .community-title{
        font-size: 16px;
    }
    .community-description{
        font-size: 10px;
    }
}
@media(max-width:520px){
    .community-stats-icon{
        width: 10px;
    }
    .community-header{
        margin: 5px;
    }
    .community-title{
        font-size: 14px;
    }
    .community-description{
        font-size: 10px;
    }
}
@media(max-width:430px){
    .community-title{
        font-size: 14px;
    }
}