.community-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border-top-left-radius: var(--radius-lg);
    border-top-right-radius: var(--radius-lg);
}

.community-banner-list {
    margin-left: 10px;
    border-radius: var(--radius-lg);
}

.community-banner-icon {
    width: 50px;
    margin: 20px;
}

@media(max-width:1000px) {
    .community-banner-icon {
        width: 40px;
    }
}
@media(max-width:860px) {
    .community-banner-list{
        border-radius: var(--radius-md);
    }
    .community-banner-icon {
        width: 35px;
        margin: 10px;
    }
}
@media(max-width:500px) {
    .community-banner-list{
        display: none;
    }
    .community-banner-icon {
        width: 35px;
        margin: 10px;
    }
}
