
.community-page-header{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    position: sticky;
}

.community-details{
    display: flex;
    box-shadow: none;
    border: none;
    margin: 25px 10px;
}

.backarrow{
    position: absolute;
    left: 10px;
    width: 35px;
    z-index: 1;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
}

.backarrow:hover{
    background-color: var(--gray-200);
}