.page-header {
    position: sticky;
    top: 0;
    z-index: var(--z-header);
    padding: 10px;
    background: #fff;
    border-bottom: 1px solid #e5e7eb;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

.global-header {
    width: 100%;
}

.title {
    display: flex;
    flex-direction: column;
}

.title h1 {
    font-size: 30px;
    font-weight: 600;
}

.title p {
    font-size: 15px;
    color: var(--gray-500);
    margin-right: 5px;
}


/* =========================
   Mobile layout
   ========================= */
@media (max-width: 870px) {
    .title h1 {
        font-size: 22px;
    }

    .title p {
        font-size: 12px;
    }
}
@media (max-width: 500px) {
    .title h1 {
        font-size: 20px;
    }

    .title p {
        font-size: 10px;
    }
}

@media (max-width: 350px) {

    .title h1 {
        font-size: 18px;
    }

    .title p {
        font-size: 8px;

    }
}

@media(max-width:767px) {
    .page-header {
        top: 55px;
    }

}