.card-view {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px;
}

@media(max-width:767px){
    .card-view{
        gap: 5px;
        padding: 5px;
    }
    .grid-icon, .list-icon{
        width: 15px;
    }
}