/* ================================
   AUTH PAGE LAYOUT
================================ */

.auth-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  height: 100vh;
  gap: 20px;
}

/* LEFT (IMAGE AREA) */
.auth-left {
  display: flex;
  justify-content: center;
  align-items: center;

}

.auth-left-panel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  overflow: hidden;
}

.auth-left-panel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* keeps image clean */
  display: block;
}

/* RIGHT (FORM AREA) */
.auth-right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 40px;
  /* good spacing */
}

.auth-right-panel {
  width: 400px;
  /* form max width */
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* spacing between components */

}

/* Login Button */
.auth-button {
  background-color: var(--color-purple);
  color: white;
  font-weight: 600;
  width: 100%;

}

.auth-button:hover {
  background-color: var(--hover-purple)
}

.auth-input {
  background-color: var(--gray-100);
  border: none;
  width: 400px;
  height: 60px;
  margin: 5px;
}

.auth-input:focus {
  border-color: var(--color-blue);
}

.forgot-password {
  font-size: 14px;
  font-weight: 500;
  margin: 5px;
  color: var(--color-blue);
  cursor: pointer;
  text-align: end;
}

.forgot-password:hover {
  text-decoration: underline;
}

@media (max-width: 1300px) {
  .auth-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap:0;
  }

  .auth-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("../../assets/loginheader.svg") center / cover no-repeat;
    z-index: 0;
  }

  .auth-left-panel {
    display: none;
  }

  .auth-right {
    z-index: 1;
    background: white;
    padding: 32px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  }
}

@media(max-width:1000px){
  .auth-container::before{
    background-size: cover;
  }

}

@media (max-width: 480px) {
  /* Container padding */
  .auth-right {
    padding: 16px;
  }

  /* Form panel */
  .auth-right-panel {
    width: 100%;
    max-width: 320px;
    gap: 8px;
  }

  /* Inputs */
  .auth-input {
    width: 100%;
    height: 48px;
    margin: 4px 0;
    font-size: 12px;
  }

  /* Primary button */
  .auth-button {
    height: 48px;
    font-size: 14px;
  }

  .button-container img {
    left: 16px;
    width: 20px;
    height: 20px;
  }
 
  .forgot-password {
    font-size: 12px;
  }
}
