@import "../../styles/variables.css";

.or-divider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: auto;
    min-width: 320px;
    font-size: 16px;
    font-weight: 500;
    color: var(--gray-500);
}

@media(max-width:480px) {
    .or-divider {
        min-width: unset;
        width: 100%;
        font-size: 12px;
        text-align: center;
    }

}