@import "../../styles/variables.css";

.avatar {
  background: var(--gray-200);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  overflow: hidden;
  color: var(--gray-900);
  margin: 5px;
  width: 60px;
  height: 60px;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* =========================
   Mobile avatar sizing
   ========================= */
@media (max-width: 767px) {
  .avatar {
    width: 50px;
    height: 50px;
    font-size: 14px;
    margin: 2px;
  }
  .avatar.nav-avatar{
    width: 35px;
    height: 35px;
  }
}
