@import "../../styles/variables.css";

.btn {
  height: 50px;
  font-size: 15px;
  border-radius: var(--radius-sm);
  cursor: pointer;
  transition: 0.2s ease;
  font-family: var(--font-primary);
}

.notes-button {
  display: flex;
  align-items: center;
  background-color: #eff6ff;
  color: var(--color-blue);
  box-shadow: 0 0 0 0.5px var(--color-blue);
  gap: 10px;
  margin: 0;
  height: 30px;
  width: 100%;
}

.notes-button:hover {
  background-color: #e4f0ff;
}

.leave-button{
  width: 120px;
  background-color: red;
  color: white;
  font-weight: 600;
}

.cancel-button{
  width: 120px;
  background-color: var(--gray-300);
  color: black;
  font-weight: 600;
}

.transparent-button{
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray-500);
    font-size: 14px;
    gap: 5px;
    width: 25px;
    height: 25px;
    -webkit-tap-highlight-color: transparent;
}


