.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 0 20px 20px 20px;
}

@media(max-width:500px) {
  .main {

    padding-bottom: 60px;
  }
}