.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.comment-modal {
  width: 520px;
  padding: 10px 30px;
  max-height: 500px;
}

.comment-header img {
  width: 30px;
  cursor: pointer;
}

.comments-list {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 10px;
}


.comment-input-container {
  width: 100%;
  padding-top: 10px;
  border-top: 1px solid #eee;
}

.comment-input-container form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.comment-button {
  background-color: var(--color-blue);
  color: var(--gray-100);
  font-weight: 500;
  width: 100px;
}

/* Comment Textarea */
.comment-textarea {
  height: 60px;
  border: none;
  padding: 5px;
}

.comment-textarea:focus {
  border: none;
  box-shadow: none;
}