.comment-item {
  padding: 12px 0;
}

.comment-box {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.comment {
  flex: 1;
}

.name {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
}

.name span {
  font-weight: 500;
  color: var(--gray-600);
  font-size: 13px;
}

.name p {
    cursor: pointer;
}

.comment-text {
  margin-left: 36px;
  margin-top: 4px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--gray-900);
}

.comment-reply {
  font-size: 13px;
  font-weight: 500;
  color: var(--primary-600);
  background: transparent;
  cursor: pointer;
  white-space: nowrap;
  margin-right: 15px;
}

.comment-reply:hover {
  text-decoration: underline;
}

.replies {
  margin-left: 36px;
  padding-left: 12px;
  border-left: 2px solid var(--gray-200);
  margin-top: 8px;
}

.mention {
  color: var(--primary-600);
  font-weight: 500;
  text-decoration: none;
}

.mention:hover {
  text-decoration: underline;
}
