.post-notes-modal{
    width: 80%;
    height: auto;
}
.post-notes-header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.post-notes-list{
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 5px; /* extra space at bottom */
}

.notes-item{
    display: flex;
    gap: 10px;
    padding: 10px;
    box-shadow: var(--shadow-card);
    border-radius: var(--radius-sm);
    color: var(--color-blue);
}

.notes-item:hover{
    box-shadow: var(--shadow-card-hover);
}