.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    padding: 20px;
    gap: 20px;
    border-top: 1px solid var(--gray-100);
    width: 100%;
}

.post-footer-icon {
    width: 25px;
    cursor: pointer;
}

.likes-comments,
.share {
    display: flex;
    gap: 30px;
}

