.post-header {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 5px;
    width: 100%;

}

.post-header-details {
    display: flex;
    flex-direction: column;
}

.post-user-details {
    display: flex;
    align-items: center;
    gap: 10px;
}

.post-user {
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
    cursor: pointer;
}

.post-time {
    color: var(--gray-500);
    font-size: 12px;
}

.post-header-badges {
    display: flex;
    align-items: center;
}

.community-badge {
    background: var(--color-purple);
    color: var(--gray-100);
    padding: 2px 10px;
    cursor: pointer;

}

.menu-option {
    margin-left: auto;
    margin-top: -40px;
    margin-right: 5px;
    cursor: pointer;
}

@media(max-width:767px) {
    .post-user {
        font-size: 16px;
        font-weight: 600;
    }

    .post-time {
        font-size: 10px;
    }

    .post-header-badges {
        display: flex;
        align-items: center;
    }

    .menu-option {
       width: 15px;
    }

    .community-badge{
    font-size: 10px;
    }
}